:root {
    --color-text: #1a1a1a;
    --color-primary: #12d6cc;
    --color-label: #a7a7a7;
    --color-family: "Euclid Circular A";
}


body .apexcharts-tooltip .apexcharts-theme-light {
    color: var(--color-text);
    background: #ffffff;
    box-shadow: none;
    border: 1px solid #e7e7e7;
    padding: 8px;

    /* opacity: 1 !important; for debugging */
}

body .apexcharts-tooltip .apexcharts-theme-light
.apexcharts-tooltip-title
{
    display: none;
}

body .apexcharts-xaxistooltip .apexcharts-xsxistooltip-bottom
.apexcharts-theme-light 
{
    display: none;
}